.container{
  max-height: 4.2rem;

  z-index: 1000;

  
  a{
    cursor: pointer;
  }

  button{
    background: none;
    border: none;
    color: var(--black);

    &:hover{
      background: none;
    }
  }

  nav{
    background-color: var(--white);
    color: var(--black);

    .sidenav-trigger{
      color: var(--black);
    }

  }
}