.container {
  height: calc((100vh - 4rem));
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    width: 100%;
  }
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content{
    flex-direction: row
  }
}
