.container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    border: 1px solid var(--gray-50);
  }
}

.live{
  p{
    margin-bottom:  5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.tableHeader{
  div:first-of-type {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--gray-50);
    padding: 0 1rem;

    p {
      font-weight: bold;
    }
  }
}
