.container { 
  main {
    height: calc(100vh - 4rem);
    width: 100%;

    background-color: #c4c4c4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23C4C4C4' cx='50' cy='0' r='50'/%3E%3Cg fill='%23c1c1c1' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bdbdbd' cx='50' cy='100' r='50'/%3E%3Cg fill='%23bababa' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b7b7b7' cx='50' cy='200' r='50'/%3E%3Cg fill='%23b3b3b3' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b0b0b0' cx='50' cy='300' r='50'/%3E%3Cg fill='%23adadad' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a9a9a9' cx='50' cy='400' r='50'/%3E%3Cg fill='%23a6a6a6' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a3a3a3' cx='50' cy='500' r='50'/%3E%3Cg fill='%23a0a0a0' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239c9c9c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23999999' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23969696' cx='50' cy='700' r='50'/%3E%3Cg fill='%23939393' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23909090' cx='50' cy='800' r='50'/%3E%3Cg fill='%238c8c8c' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23898989' cx='50' cy='900' r='50'/%3E%3Cg fill='%23868686' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23838383' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    /* background by SVGBackgrounds.com */

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 1rem;

    p {
      color: var(--white);
      font-family: "Playfair Display", "sans-serif";
      font-style: normal;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}

.separatorUp {
  display: none;
}

.separatorDown {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0;
  padding: 0 7rem;
}

.card {
  min-height: 50vh;

  div > div {
    height: 22rem;
    margin-top: 4rem;
  }
}

.cardContent {
  background-color: var(--gray-50);
  border-radius: 5px;
}

.description {
  min-height: 50vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  div:first-of-type {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

    p {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 36px;
    }
  }

  button{
    margin: 3rem 0;
    background-color: var(--orange-500);
    color: var(--black);
  }
}

.soccerImage {
  display: none;
}

@media (min-width: 576px) {
  .container {
    p {
      font-size: 2rem;
    }
  }

  .card {
    div > div {
      margin-top: 0;
    }
  }

  .separatorUp {
    display: block;
    margin: 4rem 0;
    margin-bottom: 0;
    padding: 0 7rem;
  }

  .soccerImage {
    display: block;
  }
 
}

@media (min-width: 768px) {
  .separatorUp {
    display: block;
    margin: 4rem 0;
    padding: 0 7rem;
  }

  .separatorDown {
    display: flex;
    justify-content: flex-end;
    margin: 4rem 0;
    padding: 0 7rem;
  }

  .description {
    display: flex;
    padding: 2.5rem;
    div:first-of-type {
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
  
      p {
        font-size: 1.5rem;
      }
    }
  
  }
}
