.container {
  height: calc(100vh - 4.2rem);
  width: 100%;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    width: 100%;
  }
}

.formButtons {
  margin-top: 3rem;

  button {
    background-color: var(--orange-500);
    width: 100%;
  }
}

.lottie {
  display: none;
  width: 40%;
  max-height: calc(100vh - 4.2rem);;
}

@media (min-width: 992px) {
  .container {
    padding: 0 10rem;
  
    form {
      width: 40%;
    }
  }

  .lottie {
    display: block;
  }
}
